<!doctype html>
<html lang="en" ng-app="fileUpload">
<head>
  <meta charset="UTF-8">
  <title>Upload File</title>
  <LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
</head>
<body ng-app="fileUpload" ng-controller="MyCtrl">

<h4>Upload on file select</h4>
<button ngf-select="uploadFiles($files, $invalidFiles)"
        multiple
        accept="image/*"
        ngf-max-height="1000"
        ngf-max-size="1MB">
  Select Files
</button>
<br><br>
Files:
<ul>
  <li ng-repeat="f in files"
      style="font:smaller">{{f.name}} {{f.$errorParam}}

    <span class="progress"
          ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
             ng-bind="f.progress + '%'">
        </div>
      </span>
  </li>

  <li ng-repeat="f in errFiles"
      style="font:smaller">{{f.name}} {{f.$error}}
    {{f.$errorParam}}
  </li>
</ul>
{{errorMsg}}

<script src="node_modules/angular/angular.js"></script>
<script src="app.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
<!-- for no html5 browsers support -->
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>

</body>
</html>
