<!doctype html>
<html lang="en" ng-app="fileUpload">
<head>
  <meta charset="UTF-8">
  <title>Upload File</title>
  <LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
</head>
<body ng-app="fileUpload" ng-controller="MyController as myCtrl">

<div>

  Drop File:
  <div ngf-drop ngf-select
       ng-model="myCtrl.files"
       class="drop-box"
       ngf-drag-over-class="'dragover'"
       ngf-multiple="true"
       ngf-allow-dir="true"
       accept="image/*,application/pdf"
       ngf-pattern="'image/*,application/pdf'">
    Drop pdfs or images here or click to upload
  </div>
  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  Files:
  <ul>
    <li ng-repeat="f in myCtrl.filesToUpload" style="font:smaller">
      <div>
        {{f.name}} {{f.$error}} {{f.$errorParam}}
        <img ng-show="f.$valid"
             ngf-thumbnail="f"
             class="thumb">

        <span class="progress" ng-show="myCtrl.progressBar[f.id] >= 0">
          <div style="width:{{f.progress}}%" ng-bind="myCtrl.progressBar[f.id] + '%'"></div>
        </span>

        <button ng-click="myCtrl.remove($index)">Remove</button>
      </div>
    </li>
  </ul>
  <button ng-click="myCtrl.upload(myCtrl.filesToUpload)">Subir Todo</button>
  Upload Log:
  <pre>{{log}}</pre>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="app.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
<!-- for no html5 browsers support -->
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>

</body>
</html>
